<title>(<%=products.length%>) List of Posts</title>
<div class="table-responsive py-5 mb-5">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Likes</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <% for( let i = 0; i < products.length; i++ ) { const product =
      products[i] %>
      <tr>
        <th scope="row"><%=i%></th>
        <td style="width: 20rem; height: 2rem;">
          <%- include('../includes/lightbox',{file:product.thumbnail}) %>
        </td>
        <td><a href="/<%= product.slug%>"><%= product.title %></a></td>
        <td><%= product.description %></td>
        <td><%= product.likes.length %></td>
        <td>
          <%- include('../includes/delete-modal', {pre:
          'admin',path:`${product.slug}`}) %>
        </td>
        <td>
          <a
            type="button"
            href="/admin/<%= product.slug%>"
            class="btn btn-outline-warning btn-sm"
            >Edit</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
