<a href="/<%= product.slug%>"
  ><div class="list-group-item list-group-item-action flex-column">
    <div class="w-100 mb-2">
      <img
        src="/files/<%= product.thumbnail.filename %>"
        class="d-inline-block mr-2"
        style="width: 200px;"
        alt="<%= product.thumbnail.filename %>"
      />
      <div class="mt-2 text-capitalize d-inline-block">
        <h5><%= product.title %></h5>
        <p><%= product.meta_description %></p>
        <h4><%= product.price %> ₹</h4>
        <h4>
          &times; <%= typeof product.quantity != 'undefined' ? product.quantity
          : '' %>
        </h4>
      </div>
    </div>
    <a href="/auth/<%= product.author.username%>" class="w-100">
      <%- include('./avatar', {user: product.author}) %>
      <p class="mb-0 d-inline-block">By <%= product.author.username %></p>
    </a>
  </div></a
>
