<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Express Shop</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <% if(user){ %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item-float-right">
        <a
          href="/auth/<%=user.username%>"
          class="nav-link<%= typeof PAGE_PATH != 'undefined' ? ( PAGE_PATH === 'auth' ? ' active' : '') : ''%>"
          >Profile</a
        >
      </li>
      <li class="nav-item-float-right">
        <a
          href="/cart/<%=user.username%>"
          class="nav-link<%= typeof PAGE_PATH != 'undefined' ? ( PAGE_PATH === 'cart' ? ' active' : '') : ''%>"
          >Cart</a
        >
      </li>
      <li class="nav-item-float-right">
        <a
          href="/orders"
          class="nav-link<%= typeof PAGE_PATH != 'undefined' ? ( PAGE_PATH === 'orders' ? ' active' : '') : ''%>"
          >Orders</a
        >
      </li>
      <% if (user.seller) { %>
      <li class="nav-item-float-right">
        <a
          href="/admin/panel"
          class="nav-link<%= typeof PAGE_PATH != 'undefined' ? ( PAGE_PATH === 'admin' ? ' active' : '') : ''%>"
          >Admin Panel</a
        >
      </li>
      <li class="nav-item-float-right">
        <a
          href="/status"
          target="_blank"
          class="nav-link"
          rel="noopener noreferrer"
          >Status Panel</a
        >
      </li>
      <% } %>
      <li class="nav-item-float-right">
        <a href="/auth/signout" class="nav-link">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="/search">
      <input
        class="form-control mr-sm-2"
        type="text"
        name="code"
        placeholder="Search"
      />
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <% } else{ %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">Sign-up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signin">Sign-in</a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>
