<div
  class="list-group-item list-group-item-action flex-column align-items-start"
>
  <div class="w-100 mb-2">
    <a href="/auth/<%=review.postedBy.username%>">
      <%- include('./avatar', {user: review.postedBy}) %>
    </a>
    <a href="/auth/<%=review.postedBy.username%>"
      ><h5 class="mt-2 text-capitalize d-inline-block">
        <%= review.postedBy.name %>
      </h5></a
    >
    <% if (review.postedBy.id == user.id) { %>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm float-right"
      data-toggle="modal"
      data-target="#modalCenter<%=review._id%>"
    >
      Delete
    </button>
    <% } %>
  </div>
  <p class="mb-1"><%- review.text%></p>
</div>
<div
  class="modal fade"
  id="modalCenter<%=review._id%>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Not now
        </button>
        <form
          class="float-right"
          action="/<%=product.slug%>/remove_review?_method=PUT"
          method="post"
        >
          <input type="hidden" name="id" value="<%=review._id%>" />
          <button type="submit" class="btn btn-outline-danger btn-sm">
            Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
