<div
  class="list-group-item list-group-item-action flex-column align-items-start"
>
  <div class="mb-2">
    <div style="width: 4rem;" class="d-inline-block">
      <%- include('./avatar', {user: review.postedBy}) %>
    </div>
    <a href="/auth/<%=review.postedBy.username%>" class="d-inline-block"
      ><h5 class="mt-2">
        <%= review.postedBy.username %>
      </h5></a
    >
    <% if (review.postedBy.id == user.id) { %>
    <button
      type="button"
      class="btn btn-outline-danger float-right my-3"
      data-toggle="modal"
      data-target="#modalCenter<%=review._id%>"
    >
      Delete
    </button>
    <% } %>
  </div>
  <h5 class="mb-1"><%= review.stars %> Stars | <%- review.text%></h5>
</div>
<div
  class="modal fade"
  id="modalCenter<%=review._id%>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Not now
        </button>
        <form
          class="float-right"
          action="/<%=product.slug%>/remove_review?_method=PUT"
          method="post"
        >
          <input type="hidden" name="id" value="<%=review._id%>" />
          <button type="submit" class="btn btn-outline-danger">
            Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
