<%- include('../includes/navbar') %>
<div class="text-center">
  <%- include('../includes/messages') %>
</div>
<div class="container card bg-light shadow my-4">
  <% if (products.length > 0) {%> <% products.forEach(product => { %>
  <div class="row justify-content-center bg-light pt-3">
    <div class="m-0 col-sm-5 col-md-4 col-lg-3 text-center">
      <img
        src="/files/<%= product.productId.thumbnail.filename %>"
        style="width: 20rem;"
        class="img-fluid mt-3"
        alt="<%= product.productId.thumbnail.filename %>"
      />
    </div>
    <div class="m-0 col-sm-10 col-md-8 col-lg-8 mt-3">
      <a href="/<%= product.productId.slug%>"
        ><h3><%= product.productId.title %></h3></a
      >
      <h5><%= product.productId.description %></h5>
      <a href="/auth/<%= product.productId.seller.username%>">
        <p class="mb-0 d-inline-block">
          By <%= product.productId.seller.username %>
        </p>
      </a>
      <h4><%= product.productId.price %> ₹</h4>
      <h4>Quantity: <%= product.quantity %></h4>
      <form action="/cart-delete-item" method="POST">
        <input
          type="hidden"
          value="<%= product.productId._id %>"
          name="productId"
        />
        <button class="btn btn-outline-danger" type="submit">
          Delete
        </button>
      </form>
    </div>
  </div>
  <hr />
  <% }) %>
  <div class="p-2 text-center col">
    <a class="btn btn-outline-success btn-lg" href="/checkout">Order Now!</a>
  </div>
  <% } else { %>
  <h1 class="py-5" style="min-height: 11rem;">
    No Products in Cart!
  </h1>
  <% } %>
</div>
<div class="container card bg-light shadow my-4">
  <div class="list-group mb-3">
    <div class="text-center">
      <% if (profile.saved.length<=0) { %>
      <h1 class="py-5" style="min-height: 11rem;">No Saved Products</h1>
      <% } else { %>
      <h1 class="mt-3">Saved Products</h1>
      <% } %>
    </div>
    <% for( let i = 0; i < profile.saved.length; i++ ) { %>
    <div>
      <%- include('../includes/list-of-product',{product : profile.saved[i]})%>
    </div>
    <%}%>
  </div>
</div>
<%-include('../includes/footer') %>
