<%- include('../includes/navbar') %>
<div class="text-center">
  <%- include('../includes/messages') %>
</div>
<div class="container card bg-light shadow my-4">
  <div class="row justify-content-center">
    <div class="col">
      <h1 class="pt-3">Order Details</h1>
      <% products.forEach(product => { %>
      <div>
        <%- include('../includes/list-of-product',{product:product.productId})%>
      </div>
      <% }) %>
      <div class="text-center">
        <h2>Total: <%= totalSum %> ₹</h2>
      </div>
      <div class="text-center p-3">
        <form action="/create-order" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            id="checkout-button"
            data-key="pk_test_51IsknrSJj6hRh0tByOMqjEDaIR93GxUexuvrwsnc6QCbLIFajBv3Rdy01fvURnD2rrI502ssghUhy5hyP1JAWP4a00fUZdbhux"
            data-amount="<%= totalSum * 100 %>"
            data-name="Your Order"
            data-description="All the items you ordered"
            data-locale="auto"
            data-currency="inr"
          ></script>
        </form>
      </div>
    </div>
  </div>
</div>
<%-include('../includes/footer') %>
