<%- include('../includes/navbar') %>
<div class="container card bg-light shadow my-4">
  <% if (orders.length <= 0) { %>
  <h1 class="py-5" style="min-height: 22rem;">Nothing there!</h1>
  <br />
  <% } else { %> <% orders.forEach(order => { %>
  <div class="row justify-content-center bg-light row-cols-1">
    <div class="p-4">
      <h3>
        Order - #<%= order._id %> -
        <a
          href="/orders/<%= order._id %>"
          target="_blank"
          rel="noopener noreferrer"
          >Invoice</a
        >
      </h3>
      <% order.products.forEach(items => { %>
      <div class="m-2">
        <a href="/<%= items.product.slug%>"
          ><h4><%= items.product.title %></h4></a
        >
        <h4><%= items.product.meta_description %></h4>
        <h4>
          <%= items.product.price %> ₹ | Quantity - (<%= items.quantity %>)
        </h4>
      </div>
    </div>
    <br />
    <% }); %>
  </div>
  <% }); %>
  <hr />
  <% } %>
</div>
<%-include('../includes/footer') %>
